@charset "utf-8";
/* CSS Document */

.section-focus-pic{
	float: left;
	margin-left: 20px;
	height:226px;
	width:221px;
	overflow:hidden;
	position:relative;
}
.section-focus-pic ul li{
	position:absolute;
	top:0; left:221px;
	width:221px;
	height:226px;
}
.section-focus-pic ul li h3{
	position:absolute;
	bottom:11px; left:0;
	width: 221px;
	font-weight:normal;
	color:#FFF;
	margin-left: 20px;
	z-index: 111;
	font-size: 12px;
	font-family:"微软雅黑";
}
.section-focus-pic ul li div{
	position:absolute;
	bottom:0px; left:0;
	height:40px;
	background-color:#000;
	width:100%;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.section-focus-pic .pages{
	width:221px;
	height:226px;
}
.section-focus-pic .controler{
	position:absolute;
	bottom:20px; right:20px;
}
.section-focus-pic .controler b.down{
	background-position:-161px 1px;
}
.section-focus-pic .controler2 a{
	display:block;
	width:40px;
	position:absolute;
	top:97px;
	height:40px;
}
.section-focus-pic .controler2 a i{
	display:block;
	width:29px;
	height:34px;
	background:url(imgs/star.png) no-repeat rgba(0, 0, 0, .5);
}
.section-focus-pic .controler2 .prev{
	left:5px;
}
.section-focus-pic .controler2 .prev i{
	background-position:-33px -68px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_05.png');
	margin-left:5px;
}
.section-focus-pic .controler2 .prev:hover i{
	left:10px;
	background-position:-34px -24px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_03.png');
}
.section-focus-pic .controler2 .next{
	right:10px;
}
.section-focus-pic .controler2 .next i{
	background-position:-60px -68px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_06.png');
	margin-left:10px;
}
.section-focus-pic .controler2 .next:hover i{
	right:10px;
	background-position:-60px -24px;
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_04.png');
}